.App {
  text-align: center;
  max-width: 350px;
  margin: 50px auto;
  background: #f4f4f4;
  box-shadow: 1px 1px 1px #000;
  border: 2px solid #eee;
}

.App-header {
  background-color: #222222;
  padding: 10px;
  color: #00D1FC;
}

.App-header h2 {
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 10px;
  margin: 0;
}

.App-intro {
  font-size: large;
  padding: 20px;
}